@using SeeSharpersCinema.Models.Order;
@model TicketResponse
@*<h1>Pinnen</h1>
    <h2>@Model.Movie.Title</h2>
    <img class="img-fluid" src="@Model.Movie.PosterUrl" />
    <ul>
        <li>@Model.Movie.Technique</li>
        <li>@Model.Movie.Duration Min</li>
        <li>Genre: @Model.Movie.Genre</li>
        <li>Taal: @Model.Movie.Language</li>
        <li>Kijkwijzer: @Model.Movie.ViewIndication</li>
    </ul>



    <h2>Totaalprijs: € @Model.Ticket.TotalPrice()</h2>*@

<li>no discount: @Model.Ticket.IsChildDiscount</li>
<li>child discount:</li>
<li>senior discount:</li>
<li>student discount:</li>
<button type="button" class="btn btn-primary btn-lg">Ik heb gepint!</button>
<button type="button" class="btn btn-secondary btn-lg">Annuleren</button>
