@model SeeSharpersCinema.Data.Models.ViewModel.SeatViewModel
<a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary btn-lg">Back</a>
<h1>Stoel selectie</h1>

<h2>@Model.TimeSlot.SlotStart</h2>
    <h2>@Model.TimeSlot.SlotStart</h2>
    <h2>@Model.TimeSlot.Room.Capacity</h2>
<img class="img-fluid" src="@Model.Movie.PosterUrl" />
<ul>
    <li>@Model.Movie.Technique</li>
    <li>@Model.Movie.Duration Min</li>
</ul>


<div class="movieLayoutContainer"></div>

<a asp-controller="Ticket" asp-action="Options" asp-route-movieId="@ViewData["PlayListId"]" class="btn btn-primary btn-lg">To payment overview</a>
@section Scripts{
    <script type="text/javascript">

        $('.movieLayoutContainer').seatLayout({
            data: @Html.Raw(@Model.SeatingArrangement),
            showActionButtons: false,
            classes: {     // Add class or classes for the component
                doneBtn: '',
                cancelBtn: '',
                row: '',
                area: '',
                screen: '',
                seat: ''
            },
            numberOfSeat: 2,  // Nuber of seat want to select. This need to be filled via form
            callOnSeatRender: function (Obj) {
                //modify seat object if require and return it;
                return Obj;
            },
            callOnSeatSelect: function (_event, _data, _element) {
                console.log(_event);
                console.log(_data);
                console.log(_element);
            },
            selectionDone: function (_array) {
                console.log(_array);
            },
            cancel: function () {
                return false;
            }
        });
    </script>
}