@model SeeSharpersCinema.Data.Models.ViewModel.SeatViewModel
<a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary btn-lg">Back</a>
<h1>Stoel selectie</h1>
<h1>@Model.Movie.Title</h1>
<h2>@Model.TimeSlot.SlotStart</h2>
<h2>@Model.TimeSlot.SlotEnd</h2>

@*<img class="img-fluid" src="@Model.Movie.PosterUrl" />*@
<ul>
    <li>@Model.Movie.Technique</li>
    <li>@Model.Movie.Duration Min</li>
</ul>

<div>
    <form asp-action="ReserveSeats">
        <div class="form-group">
            <input type="submit" value="Selectie vastleggen en door naar betaling" class="btn btn-primary" />
        </div>
    </form>
</div>


<div class="movieLayoutContainer"></div>
<div id="dump-response"></div>

<a asp-controller="Ticket" asp-action="Options" asp-route-movieId="@ViewData["PlayListId"]" class="btn btn-primary btn-lg">To payment overview</a>
@section Scripts{
    <script type="text/javascript">
        $('.movieLayoutContainer').seatLayout({
            data: ("@Model.SeatingArrangement").replace('/&quot;/g', '"'),    // Movie seat data. This needs to be generated via ViewModel
            showActionButtons: false,
            classes: {     // Add class or classes for the component
                doneBtn: '',
                cancelBtn: '',
                row: '',
                area: '',
                screen: '',
                seat: ''
            },
            numberOfSeat: 2  // Nuber of seat want to select. This need to be filled via form
        });
    </script>
}