@using SeeSharpersCinema.Models.Order;
@model Ticket

<a asp-controller="Seat" asp-action="Selector" asp-route-movieId="@Model.Movie.Id" class="btn btn-primary btn-lg">Back</a>
<h1>Betaal overzicht</h1>
<h2>@Model.Movie.Title</h2>
<img class="img-fluid" src="@Model.Movie.PosterUrl" />
<ul>
    <li>@Model.Movie.Technique</li>
    <li>@Model.Movie.Duration Min</li>
    <li>Genre: @Model.Movie.Genre</li>
    <li>Taal: @Model.Movie.Language</li>
    <li>Kijkwijzer: @Model.Movie.ViewIndication</li>
</ul>
<h2>Filmprijs: € @(Model.Movie.IsLongMovie ? Model.LongMovieAddition + Model.BasePrice : Model.BasePrice )</h2>
@if (Model.Movie.IsThreeDimensional)
{
    <h3>Toeslag 3D: € @Model.ThreeDimensionalAddition</h3>
}

<h3>Kortingen:</h3>
@*<form asp-action="Options" method="post">

        <select asp-for="@Model.TicketResponse.IsChildDiscount" class="form-control">
            <option value="false">Nodiscount</option>
            <option value="True">Childdiscount</option>
            <option value="false">No, I can't come</option>
        </select>


        <input type="radio" value="@Model.TicketResponse.IsNoDiscount" />NoDiscount<br />
        <input type="radio" value="@Model.TicketResponse.IsChildDiscount" />Child<br />
        <input type="radio" value="IsStudentDiscountSelected" />Student<br />
        <input type="radio" value="IsSeniorDiscountSelected" />Senior<br />


        <input type="submit" asp-route-movieId="@Model.Movie.Id" />Pay with pin<br />
    </form>*@

@*    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Geen korting
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" @(Model.IsChildDiscountValid ? "" : "disabled")>
        <label class="form-check-label" for="exampleRadios2">
            Kinderkorting -€1.50 - Geldig voor leeftijd tot 11 jaar op kinderfilms
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" @(Model.IsStudentDiscountValid ? "" : "disabled")>
        <label class="form-check-label" for="exampleRadios3">
            Studentenkorting -€1.50 - Bij vertonen studentenkaart geldig op Maandag t/m Donderdag.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" @(Model.IsSeniorDiscountValid ? "" : "disabled" )>
        <label class="form-check-label" for="exampleRadios4">
            Seniorkorting -€1.50 - Vanaf 65+ geldig op Maandag t/m Donderdag behalve bij vakantie.
        </label>
    </div>*@

<!--<a href="#"><button type="button" class="btn btn-primary btn-lg">Pay with pin</button></a>-->
<a asp-controller="Payment" asp-action="Index" asp-route-movieId="@Model.Movie.Id"class="btn btn-primary btn-lg">To payment overview</a>
