@model SeeSharpersCinema.Models.ViewModel.PaymentViewModel
<h1>Betaling</h1>

<h2>@Model.PlayList.Movie.Title</h2>
<img class="img-fluid" src="@Model.PlayList.Movie.PosterUrl" />
<ul>
    <li>@Model.PlayList.Movie.Technique</li>
    <li>@Model.PlayList.Movie.Duration Min</li>
    <li>Genre: @Model.PlayList.Movie.Genre</li>
    <li>Taal: @Model.PlayList.Movie.Language</li>
    <li>Kijkwijzer: @Model.PlayList.Movie.ViewIndication</li>

    <li>Starttijd: @Model.PlayList.TimeSlot.SlotStart</li>
    <li>Zaal: @Model.PlayList.TimeSlot.RoomId</li>
</ul>

<h2>Totaalprijs: € @Model.PlayList.Movie.TotalPrice()</h2>


<a asp-controller="Payment" asp-action="Pay" asp-route-id="@Model.PlayList.Id" type="button" class="btn btn-primary btn-sq-lg"><i class="fas fa-money-bill"></i> Cash</a>
<a asp-controller="Payment" asp-action="Pay" asp-route-id="@Model.PlayList.Id" type="button" class="btn btn-primary btn-sq-lg"><i class="fas fa-credit-card"></i> Pin</a>

<form asp-action="Pay" asp-route-id="@Model.PlayList.Id">
    <input type="hidden" value="nbsbon" />
    <input type="text" name="biosbonCode" placeholder="code" />
    <button type="submit" class="btn btn-primary btn-sq-lg"><i class="fas fa-receipt"></i> Bioscoop bon</button>
</form>
<form asp-action="Pay" asp-route-id="@Model.PlayList.Id">
    <input type="hidden" value="mdwdbon" />
    <input type="text" name="madiwodoCode" placeholder="code" />

    <button type="submit" class="btn btn-primary btn-sq-lg"><i class="fas fa-receipt"></i> MaDiWoDo-bon</button>
</form>
<form asp-action="Pay" asp-route-id="@Model.PlayList.Id">
    <input type="hidden" value="rittenkaart" />
    <input type="text" name="rittenkaartCode" placeholder="code" />
    <button type="submit" class="btn btn-primary btn-sq-lg"><i class="fas fa-tasks"></i> Rittenkaart</button>
</form>

<a asp-controller="Cashier" asp-action="MovieOverview" class="btn btn-secondary">Annuleren</a>
