@model IEnumerable<SeeSharpersCinema.Models.TimeSlot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tijdslot toevoegen</a>
    <a class="btn btn-secondary" asp-controller="PlayLists" asp-action="index">Voorstellingen beheren</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SlotStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlotStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Id)
            </td>
            <td>

                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Bewerken</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
