@model IEnumerable<SeeSharpersCinema.Models.Program.PlayList>

@{
    ViewData["Title"] = "Overzicht";
}

<h1>Overzicht voorstellingen</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Film inplannen</a>
    <a class="btn btn-secondary" asp-controller="TimeSlots" asp-action="index"> Timeslot beheren</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot.SlotStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Bewerken</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
