@model IEnumerable<SeeSharpersCinema.Models.Film.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht Films</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nieuwe Film toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
               Poster
            </th>
            <th>
                Duur
            </th>
            <th>
                Techniek
            </th>
            <th>
                Jaar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img style="width:174px;" src="@Html.DisplayFor(modelItem => item.PosterUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Bewerken</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
