@model SeeSharpersCinema.Models.Program.PlayList
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <p>SeeSharper Cinema</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Datum</em>
                        @Model.TimeSlot.SlotStart.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        @Model.TimeSlot.SlotStart.ToString("hh:mm") - @Model.TimeSlot.SlotEnd.ToString("hh:mm")
                    </p>
                    <p>
                        <em>Film nummer: @Model.Id</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Uw Bestelling</h1>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Film</th>
                            <th class="text-center">Prijs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9">
                                @Model.Movie.Title
                            </td>

                            <td class="col-md-1 text-center">€13</td>

                        </tr>

                        <tr>

                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>

                                </p>
                                <p>
                                    <strong>BTW: </strong>
                                </p>
                            </td>
                            <td class="text-center">
                                <p>
                                    <strong>10 €</strong>
                                </p>
                                <p>
                                    <strong>20 €</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>30 €</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
                <a class="navbar-brand" asp-area="" asp-controller="Payment" asp-action="MolliePayment">Pay</a>
            </div>
        </div>
    </div>
</div>
