@model IEnumerable<PlayList>

<div class="row"><h1>Vandaag tot Donderdag</h1></div>
<div class="my-4">
    <form asp-controller="Home" asp-action="Index" name="test">
        <input type="text" name="uiTitle" placeholder="Title" />
        <input type="date" name="uiDate" />
        <select name="uiGenre">
            <option value="">Genre</option>
            <option value="Animation">Animation</option>
            <option value="Action">Action</option>
            <option value="ActionComedy">ActionComedy</option>
            <option value="Adventure">Adventure</option>
            <option value="Children">Children</option>
            <option value="Comedy">Comedy</option>
            <option value="Crime">Crime</option>
            <option value="Documentary">Documentary</option>
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Mystery">Mystery</option>
            <option value="RomCom">RomCom</option>
            <option value="Romance">Romance</option>
            <option value="SciFi">SciFi</option>
            <option value="Superhero">Superhero</option>
            <option value="Thriller">Thriller</option>
        </select>
        <select name="uiViewIndication">
            <option value="">ViewIndication</option>
            <option value="All">All</option>
            <option value="Six">Six</option>
            <option value="Nine">Nine</option>
            <option value="Twelve">Twelve</option>
            <option value="Fourteen">Fourteen</option>
            <option value="Sixteen">Sixteen</option>
            <option value="Eighteen">Eighteen</option>
            <option value="Violence">Violence</option>
            <option value="Fear">Fear</option>
            <option value="Sex">Sex</option>
            <option value="StrongLanguage">StrongLanguage</option>
            <option value="DrugsAlcoholAbuse">DrugsAlcoholAbuse</option>
            <option value="Discrimination">Discrimination</option>
        </select>
        <button class="btn btn-primary" type="submit">Filter</button>
        <button class="btn btn-danger" type="submit">Reset</button>
    </form>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-2 pl-1 pr-1">
            <div class="poster_custom card m-1">
                <a asp-controller="Seat" asp-action="Selector" asp-route-movieId="@item.Id">
                    <img src="@item.Movie.PosterUrl" class="img-fluid" />
                </a>
                <div class="p-1">
                    <p class="poster_label">@item.Movie.Title</p>
                    <p class="poster_moviestart">@item.TimeSlot.SlotStart.ToString("dddd HH:mm")</p>
                    <p class="poster_room">Zaal @item.TimeSlot.RoomId</p>
                </div>
            </div>
        </div>
        }
</div>