@using SeeSharpersCinema.Models.Program;
@model TimeSlot

<a asp-controller="playlist" asp-action="Overview" type="button" class="btn btn-primary btn-lg">Back</a>
<h1>Stoel selectie</h1>


@*<p>@Model.Movie.Title</p>
<p>@Model.TimeSlot.SlotStart</p>*@

@*<h2>@Model.Movie.Title</h2>
<img class="img-fluid" src="@Model.Movie.PosterUrl" />
<ul>
    <li>@Model.Movie.Technique</li>
    <li>@Model.Movie.Duration Min</li>
    <li>Director: @Model.Movie.Director</li>
    <li>Opgenomen: @Model.Movie.Country</li>
    <li>Genre: @Model.Movie.Genre</li>
    <li>Taal: @Model.Movie.Language</li>
    <li>Jaar: @Model.Movie.Year</li>
    <li>Kijkwijzer: @Model.Movie.ViewIndication</li>
    <li>@Model.Movie.Description</li>
</ul>
<h3>Filmprijs: € @(Model.Movie.IsLongMovie ? Model.LongMovieAddition + Model.BasePrice : Model.BasePrice )</h3>
<a asp-controller="Ticket" asp-action="Options" asp-route-movieId="@Model.Movie.Id" class="btn btn-primary btn-lg">To payment overview</a>
